<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="false" name="Suite" verbose="10">
  <test name="Test">
    <classes>
      <class name="testngEx.DependancyOrder"/>
      <class name="testngEx.GoogleTest"/>
    </classes>
  </test><!-- Test --> 
</suite> <!-- Suite -->
